* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.detail-list-container {
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
